<ion-view view-title="Intro">
  <ion-content>
    <div class="box {{color}}"> 
    	<h2 ng-class="pergunta.visible ? 'visible' : ''">{{pergunta.message}}</h2>
    	<ion-radio ng-class="opcao.visible ? 'visible' : '' " ng-model="resp" ng-value="opcao.id" ng-repeat="opcao in opcoes">{{opcao.message}}</ion-radio>
    	<!-- <a href="#/app/intro" ng-class="disponivel ? 'visible' : ''">Continuar</a> -->
    	<button ng-class="resp !== undefined  ? 'visible' : ''" >Continuar</button>
    	{{resp}}
    </div>
  </ion-content>
</ion-view>
