<ion-view view-title="Infográfico">
  <ion-content scroll="false">
    <div class="box infografico3">
			<div class="content-left">
				<h1>A prática insegura do</h1>
				<p class="visible">aborto <br class="visibleOnPortrait"><span class="caixaEscura">MATA</span><br class="visibleOnPortrait"> 1 mulher</p>
				<h1>a cada 2 dias</h1>
			</div>
			<img class="content-right" src="img/infografico3/image.gif">
			<button class="button icon-right ion-chevron-right button-aborto disponivel" ng-click="call()"></button> 
		</div>
  </ion-content>
</ion-view>
