<ion-view view-title="Idade de Risco">
  <ion-content scroll="false">
    <div class="box infografico1">
  		<div class="bar-title-container">
  			<h1 class="bar-title">dos abortos provocados que chegam ao hospital</h1>
			</div>
			<div class="bar-middle-container">
  			<h1 class="bar-middle">25% são de adolescentes<br><span>entre 15 e 19 anos</span></h1>
			</div>
			<div class="girls">
			</div>
			<div class="placa">
			</div>
			<div class="lapide">
			</div>
			<button class="button icon-right ion-chevron-right button-aborto disponivel" ng-click="call()"></button> <!-- a cada clique um aborto -->
    </div>
  </ion-content>
</ion-view>
