<ion-view view-title="Intro">
  <ion-content scroll="false">
    <form class="box {{color}}"> 
    	<h2 ng-class="pergunta.visible ? 'visible' : ''">{{pergunta.message}}</h2>
  		<label class="labelDivider" ng-repeat="opcao in opcoes track by $index" for="radio{{$index}}">
  			<input class="jamRadio" id="radio{{$index}}" name="resp" ng-model="resp.resp" type="radio" value="{{$index}}">
        <div class="checker" ng-class="{'selected': $index == resp.resp} ">
        </div>
        <span>{{opcao.opcao}}</span>
  		</label>
    	<button class="button icon-right ion-paper-airplane button-balanced" ng-click="saveValue()" ng-class="resp.resp != undefined ? 'visible' : ''" ></button>
      <button class="button icon-right ion-ios-redo-outline button-balanced" ng-click="saveValue()" ng-class="resp.resp != undefined ? 'visible' : ''" ></button>
    </form>
  </ion-content>
</ion-view>
