/* Empty. Add your own CSS if you like */
@font-face {
	font-family:'fairview';
  src: url('../fonts/Fairview_Regular.otf');
}

@font-face {
	font-family:'fairview_small';
  src: url('../fonts/Fairview_SmallCaps.otf');
}

@font-face {
	font-family:'bebas_neue';
  src: url('../fonts/BebasNeue.otf');
}

@font-face {
	font-family:'bellerose';
  src: url('../fonts/Bellerose.ttf');
}

.box{
	min-height:100vh !important;
	max-height:100vh !important;
	padding: 6.4vh 3.90vw ;
}

.box p{
	/*text-align:;*/
}

.box p, .box a, .box h2{
	margin: 0 auto;
	color:rgba(255,255,255,0) !important;
	transition:500ms;
}

.box p.visible, .box a.visible,.box h2.visible{
	color:rgba(255,255,255,1) !important;
}

button{
	display:none !important;
}

button.visible{
	display:block !important;
}

/* BACKGROUNDS */

.intro{
	background: #d888b9;
}
.questionario{
	background: #7eced0;
}

.pls{
	background: #ef4438;
}

.pilula{
	background: #ee6937;
}

.pena{
	background: #333d98;
}

.negligencia{
	background: #9d55a1;
}

/* FIM BACKGROUNDS */

.item-radio{
	/*margin-bottom:30px !important;*/
	min-height:60px !important;
}


.ion-record:before{
	color:white !important;
}

.jamRadio{
	display:none;
}

.selected{
	text-decoration: underline;
}

@media all and (orientation:landscape) {
	.box.intro{
		font-family:"bellerose" !important;
	}
	.box.intro p{
		font-size:5.5vw !important;
		line-height: 5.2vw;
	}

	.box.intro p.breakline{
		margin-bottom:10vh;
	}

	.box.intro a{
		margin-top:10px;
		text-align: center;
	}

}
