/* Empty. Add your own CSS if you like */
@font-face {
	font-family:'fairview';
  src: url('../fonts/Fairview_Regular.otf');
}

@font-face {
	font-family:'fairview_small';
  src: url('../fonts/Fairview_SmallCaps.otf');
}

@font-face {
	font-family:'bebas_neue';
  src: url('../fonts/BebasNeue.otf');
}

@font-face {
	font-family:'bellerose';
  src: url('../fonts/Bellerose.ttf');
}

@font-face {
	font-family:'code';
  src: url('../fonts/code.otf');
}

/* SLIDES */

.box p{
	/*text-align:;*/
}

.box p, .box a, .box h2{
	margin: 0 auto;
	color:rgba(255,255,255,0) !important;
	transition:500ms;
}
/*FONTES*/

 .box.intro{
	font-family:"bellerose" !important;
}

.box.title h2{
	font-family:"bebas_neue" !important;
}

.box.title p{
	font-family:"fairview" !important;
}
/*FIM FONTES*/

.box p.visible, .box a.visible,.box h2.visible{
	color:rgba(255,255,255,1) !important;
}

button{
	display:none !important;
}

button.visible{
	display:block !important;
}

/* BACKGROUNDS */

.intro{
	background: #d888b9;
}

.questionario{
	background: #7eced0;
}

.pls{
	background: #ef4438;
}

.pilula{
	background: #ee6937;
}

.pena{
	background: #333d98;
}

.negligencia{
	background: #9d55a1;
}

.final{
	background: #fff;
}

.situacao{
	background: #D72D2F;
}

/* FIM BACKGROUNDS */

.item-radio{
	/*margin-bottom:30px !important;*/
	min-height:60px !important;
}


.ion-record:before{
	color:white !important;
}

.jamRadio{
	display:none;
}

@media all and (orientation: landscape) {
	.box{
		min-height:100vh !important;
		max-height:100vh !important;
		padding: 6.4vh 3.90vw ;
	}

	/* INTRO SLIDE */
	.box.intro p{
		font-size:5.5vw !important;
		line-height: 5.2vw;
	}

	.box.intro p.breakline{
		margin-bottom:2vh;
	}

	.box .button-aborto{
		margin-top:-3vh;
		text-align: center;
		border-color: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
		float:right;
	}

	.box.title .button-aborto{
		margin-top:2px;
		margin-right:1.5vw;
	}
	
	.button.icon-right:before {
    text-align: center;
    margin-right:3px;
    font-weight: bolder;
    font-size: xx-large;
	}


	/* CONTENT SLIDES */
	.box.title .content-left{
		max-width:60%;
		float:left;
	}

	.box.title h2{
		font-size:6vw;
	}

	.box.title p{
		font-size:4vw !important;
		line-height: 4.5vw;
	}
	
	.box.title .content-right{
		max-width:28%;
		float:left;
	}

	.box.title .content-right img{
		width:100%;
		margin-left:20%;
		margin-top:100vw;
		transition:2500ms;
	}
	
	.box.title .content-right img.active{
		margin-top:30%;
	}

	/* PESQUISA */

	.labelDivider{
		display:table;
		margin-bottom: 2vw;
	}

	.labelDivider span{
		font-size:5vw;
		margin-left: 2vw;
		color:white;
	}

	.checker{
		background:white;
		float:left;
		color:transparent;
		width:10vw !important;
		height:10vw !important;
	}

	.checker.selected{
		background:green;
	}
	.ion-paper-airplane:before{
		font-weight: lighter;
		font-size:1.5vw;
	}
}

@media all and (orientation: portrait) {

	.box{
		min-height:100vh !important;
		max-height:100vh !important;
		padding: 2.5vh 2.5vw 0.76vh 2.5vw;
	}

	/* INTRO SLIDE */
	.box.intro{
		padding-top: 2vh;
	}
	.box.intro p{
		font-size:9vw !important;
		line-height: 10.5vw;
	}

	.box.intro p.breakline{
		margin-bottom:10vh;
	}

	.box .button-aborto{
		margin-top:-3vh;
		text-align: center;
		border-color: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
		float:right;
		position:absolute;
		bottom:0;
		right:5.5vw;
		bottom:2.5vh;
		z-index:1000;
	}
	
	.button.icon-right:before {
    text-align: center;
    margin-right:3px;
    font-weight: bolder;
    font-size: xx-large;
	}


	/* CONTENT SLIDES */
	.box.title .content-left, .box.title .content-right{
		min-width:100%;
		float:left;
	}

	.box.title h2{
		font-size:6vh;
		text-align:center;
	}

	.box.title p{
		font-size:4.3vh !important;
		line-height: 5vh;
		margin-bottom:2vh;
	}

	.box.title .content-right{
	}
	.box.title .content-right img{
		width:50vw;
		margin-left:-100vw;
		transition:2500ms;
	}
	
	.box.title .content-right img.active{
		margin-left:22.5vw;
	}



}


/* INFOGRAFICOS */
/* INFOGRAFICO1 */
@media all and (orientation: landscape) {

	.infografico1{
		margin: 0;
		padding: 0 0 0 0 !important;
		background-image:url('../img/infografico1/bg.png');
		background-size:100vw 100vh;
	}

	.infografico1 .bar-title-container, .infografico1 .bar-middle-container{
		position:absolute;
		min-width:100vw;
		max-width:100vw;
	}

	.infografico1 .bar-title-container{
		top:7vh;
	}
	.infografico1 .bar-middle-container{
		top:36vh;
		height:16.5vh;
		background:rgb(230, 86, 36) !important;
	}


	.infografico1 .bar-title{
		font-family: bebas_neue;
		font-size:3.5vw;
		font-weight: normal;
		letter-spacing: 5px;
		text-align:center;
		background:rgba(255,255,255,0.8);
		color:rgb(230, 86, 36) !important;
	}

	.infografico1 .bar-middle{
		font-family: bebas_neue;
		max-width:33vw;
		padding:0.5vw 0 0 4.58vw;
		line-height:8vh;
		font-size:3vw;
		text-align:center;
		color:white;
	}

	.infografico1 .bar-middle span{
		margin-left:3px;
		letter-spacing: 0.4vw;
	}

	.infografico1 .girls{
		position:absolute;
		top:19.75vh;
		left:35vw;
		width:20.52vw;
		height:65vh;
		background-image: url("../img/infografico1/garotas.png");
		background-size: 100% 100%;
	}

	.infografico1 .placa{
		position:absolute;
		top:27vh;
		left:57.5vw;
		width:39.375vw;
		height:36.82vh;
		background-image: url("../img/infografico1/placa.png");
		background-size: 100% 100%;
	}

	.infografico1 .lapide{
		position:absolute;
		top:77vh;
		left:70vw;
		width:12.375vw;
		height:15.82vh;
		background-image: url("../img/infografico1/lapide.png");
		background-size: 100% 100%;

	}

	.infografico1 .button, .infografico2 .button, .infografico3 .button{
		background-color: rgba(0, 0, 0, 0.75);
		position: absolute;
		right:6vw;
		bottom:6vh;
		display:inline-block !important;
	}
}

@media all and (orientation: portrait) {

	.infografico1{
		margin: 0;
		padding: 0 0 0 0 !important;
		background-image:url('../img/infografico1/bg2.png');
		background-size:100vw 100vh;
	}

	.infografico1 .bar-title-container, .infografico1 .bar-middle-container{
		position:absolute;
		min-width:100vw;
		max-width:100vw;
	}

	.infografico1 .bar-title-container{
		top:7vh;
	}
	.infografico1 .bar-middle-container{
		top:36vh;
		height:16.5vw;
		background:rgb(230, 86, 36) !important;
	}


	.infografico1 .bar-title{
		font-family: bebas_neue;
		font-size:4.4vh;
		font-weight: normal;
		letter-spacing: 5px;
		text-align:center;
		background:rgba(255,255,255,0.8);
		color:rgb(230, 86, 36) !important;
	}

	.infografico1 .bar-middle{
		font-family: bebas_neue;
		max-width:50vw;
		padding:0.5vw 0 0 4.58vw;
		line-height:8vw;
		font-size:3vh;
		text-align:center;
		color:white;
	}

	.infografico1 .bar-middle span{
		margin-left:3px;
		letter-spacing: 0.4vh;
	}

	.infografico1 .girls{
		position:absolute;
		top:25.65vh;
		left:60vw;
		width:30.52vw;
		height:65vw;
		background-image: url("../img/infografico1/garotas.png");
		background-size: 100% 100%;
	}

	.infografico1 .placa{
		position:absolute;
		top:48vh;
		left:7vw;
		width:39.375vw;
		height:36.82vw;
		background-image: url("../img/infografico1/placa.png");
		background-size: 100% 100%;
	}

	.infografico1 .lapide{
		position:absolute;
		top:82.4vh;
		left:14vw;
		width:18.375vw;
		height:20.82vw;
		background-image: url("../img/infografico1/lapide.png");
		background-size: 100% 100%;
	}

	.infografico1 .button, .infografico2 .button, .infografico3 .button{
		background-color: rgba(0, 0, 0, 0.75);
		position: absolute;
		right:6vw;
		bottom:6vh;
		display:inline-block !important;
	}
}

/*INFOGRAFICO 2*/

@media all and (orientation: landscape) {
	.infografico2{
		background: rgb(213, 239, 250);
		padding: 6.4vh 3.90vw;
	}

	.infografico2 *{
		font-family: bebas_neue !important;
	}

	.infografico2 h1{
		font-size:8.3vw;
		line-height: 3.5vw
	}

	.infografico2 h2{
		margin-left:0.55vw;
		font-size:2.52vw;
		color: black !important;
	}

	.infografico2 .leftSide{
		width:20vw;
		cursor: pointer;
		color: white;
		background-color: rgb(247, 171, 184);
		margin-top:1.2vh;
		padding:1vw 1vh;
		border-radius:20px;
		font-size:2vw;
		line-height: 3vw;
		transition:500ms;
	}

	.infografico2 .leftSide:hover, .infografico2 .leftSide.selected{
		background-color: rgb(255, 113, 137);
	}

	.infografico2 .leftSideContainer{
		float:left;
	}

	.infografico2 .rightSide{
		margin:1vw;
		padding-left:3vw;
		width:70.2vw;
		float:left;
	}

	.infografico2 .rightSide img{
		width:5.2vw;
		height:22.22vh;
		margin-right: 1.5vw;
		margin-bottom: 0.5vw;
	}


	.infografico2 .rightSide h2{
		max-width:26.3vw;
	}
	.infografico2 .rightSide img.example{
		/*position:absolute;*/
		margin-left:-0.8vw;
		margin-right: 0;
		margin-bottom: 0;
	}

	.infografico2 .rightSide h2 span{
		position:absolute;
		margin-left:2vw;
		margin-top:4vw;
		line-height: 5.5vw;
		font-size:5vw;
	}

	.infografico2 .rightSide .fonte{
		margin-left: 28vw !important;
		margin-top: -10vw !important;
		font-size:1.4vw;
		line-height: 2vw;
		max-width:30vw;
	}

	.infografico2 .rightSide .fonte p{
		color:black !important;
	}
}


@media all and (orientation: portrait) {
	.infografico2{
		background: rgb(213, 239, 250);
		padding: 6.4vw 3.90vh;
	}

	.infografico2 *{
		font-family: bebas_neue !important;
	}

	.infografico2 h1{
		font-size:8.3vh;
		line-height: 9.3vh;
		text-align: center;
	}

	.infografico2 h2{
		max-width:28vw;
		margin-left:0.55vw;
		text-align:justify;
		font-size:2.7vw;
		color: black !important;
	}

	.infografico2 .leftSide{
		width:30vw;
		cursor: pointer;
		color: white;
		background-color: rgb(247, 171, 184);
		margin-top:1.2vh;
		padding:1vw 1vh;
		text-align:justify;
		border-radius:20px;
		font-size:2vh;
		line-height: 2.5vh;
		transition:500ms;
	}

	.infografico2 .leftSide:hover, .infografico2 .leftSide.selected{
		background-color: rgb(255, 113, 137);
	}

	.infografico2 .leftSideContainer{
		float:left;
	}

	.infografico2 .rightSide{
		margin:1vw;
		margin-top:-9vh ;
		padding-left:3vw;
		width:50.2vw;
		float:left;
	}

	.infografico2 .rightSide img{
		width:5vh;
		height:15.22vw;
		margin-right: 1.5vw;
		margin-bottom: 0.5vw;
	}


	.infografico2 .rightSide h2{
		max-width:26.3vw;
		margin-left:-32vw;
	}
	.infografico2 .rightSide img.example{
		/*position:absolute;*/
		margin-left:-0.8vw;
		margin-right: 0;
		margin-bottom: 0;
	}

	.infografico2 .rightSide h2 span{
		position:absolute;
		margin-left:2vw;
		margin-top:4vw;
		line-height: 5.5vw;
		font-size:5vw;
	}

	.infografico2 .rightSide .fonte{
		/*margin-left: 28vw !important;*/
		margin-top: -10vw !important;
		font-size:1.7vh;
		line-height: 2vh;
		max-width:60vw;
	}

	.infografico2 .rightSide .fonte p{
		color:black !important;
	}
}

/*INFOGRAFICO 3*/

@media all and (orientation: landscape) {
	.infografico3{
		background: rgb(126, 17, 22);
		
		padding: 25vh 3.90vw;
	}
	.infografico3 *{
		color:white !important;
		font-family: "bebas_neue" !important;
	}
	.infografico3 h1{
		font-size:8vw;
		line-height: 11vw;
	}
	.infografico3 p{
		font-size:3vw;
	}

	.infografico3 p span.caixaEscura{
		padding: 1vh 5vh 0 5vh;
		background-color:rgba(0,0,0,0.7);
		font-size:6vw;
	}

	.infografico3 .content-left{
		max-width:57vw;
	}

	.infografico3 .content-right{
		max-width:35.2vw;
	}

	.infografico3 .content-left, .infografico3 .content-right{
		float:left;
	}

	.visibleOnPortrait{
		display:none;
	}
}


@media all and (orientation: portrait) {
	.infografico3{
		background: rgb(135, 33, 36);
		padding: 25vh 3.90vw;
	}
	.infografico3 *{
		color:white !important;
		font-family: "bebas_neue" !important;
	}
	.infografico3 h1{
		font-size:8vw;
		line-height: 8vw;
	}
	.infografico3 p{
		font-size:5vw;
		line-height: 8vw
	}

	.infografico3 p span.caixaEscura{
		padding: 1vh 5vh 0 5vh;
		background-color:rgba(0,0,0,0.7);
		font-size:6vw;
		width:100vw !important;
	}

	.infografico3 .content-left{
		max-width:57vw;
	}

	.infografico3 .content-right{
		max-width:35.2vw;
	}

	.infografico3 .content-left, .infografico3 .content-right{
		float:left;
	}

	.visibleOnPortrait{
		display:inline-block;
	}

}

/* SLIDE SEMIFINAL */

.box.final{
	padding-bottom:5vh;
	min-height:100vh;
	max-height: none;
}

.final .bioRow{
	clear:both;
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:20px !important;
}

.bioRow *{
	font-family: "code";
	font-size: 13px;
	color:white;
}

.bioRow p{
	max-width:50vw !important;
	padding:2vw;
	border-radius:20px;
	color:white !important;
	background: green;
	font-size:20px;
	letter-spacing: 3px;
	line-height: 25px;
}

.bioRow img{
	max-width:20vw;
}


.final .bioRow:nth-child(odd) * {
	float: left;
}

.final .bioRow:nth-child(odd) p{
	margin-left:15vw;
	margin-right:5vw;
}


.final .bioRow:nth-child(even) *{
	float: right;
}

.final .bioRow:nth-child(even) p{
	margin-right:15vw;
	margin-left:5vw;
}

.bioRow .description.sara p{
	background: rgb(125, 161, 58);
}
.bioRow .description.soninha p{
	background: rgb(56, 95, 163);
}
.bioRow .description.thais p{
	background: rgb(201, 73, 69);
}

@media (max-width: 600px){
	.bioRow{
		/*width:80vw;*/
	}
	.bioRow p{
		/*width:300px;*/
		font-size: 12px;
	}
	.bioRow img,.bioRow .description{
		/*clear:both !important; */
	}
}

/* SLIDE FINAL */

.finalMessage{
	text-align:center;
}